.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth {
  width: 100%;
  max-width: 413px;
  padding: 25px 33px;
  background: #F9F9FE;
  border-radius: 8px;
}

.auth__title {
  margin-bottom: 32px;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

.auth__subtitle {
  margin-bottom: 39px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.auth input {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.auth__action-row {
  display: flex;
  justify-content: space-between;
}

.button--gray {
  background-color: gray;
}